asgiref
beautifulsoup4
bs4
defusedxml
dj-database-url
Django
django-allauth
django-extensions
django-googledrive-storage
django-storages
gunicorn
html5lib
httpcore
httplib2
httpx
Jinja2
lxml
multidict
Pillow
python3-openid
regex
requests
soupsieve
sqlparse
urllib3
websockets
whitenoise
